@charset "utf-8";

/*=================================
   Universal Reset
=================================*/
html,body{margin:0;padding:0;width:100%;height:100%;font-size:100%;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,div,object,ul,ol,li,dl,dt,dd,tr,td,fieldset,form,legend{margin:0;padding:0;font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
table,th,td{border:0;border-spacing:0;}
caption,th{text-align:left;}
em,strong,cite,abbr,caption,th,address{font-style:normal;font-weight:normal;}
img{max-width:100%;border:0 none;vertical-align:bottom;_vertical-align:text-bottom;}
input,select,textarea{margin:0;padding:0;vertical-align:middle;}
select{-webkit-appearance: none;-moz-appearance: none; appearance: none;}
input{-webkit-appearance:none;appearance:none;}
input[type="submit"]{border:none;border-radius:0;}
input[type="radio"]{-webkit-appearance:radio;appearance:radio;}
input[type="checkbox"]{-webkit-appearance:checkbox;appearance:checkbox;}
option{padding-right:5px;}
article,aside,dialog,details,figure,figcaption,footer,header,hgroup,menu,nav,section{display:block;}
mark{font-weight:normal;font-style:normal;}
blockquote,q{quotes:none;}
a{vertical-align:baseline;text-decoration:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

/*=================================
   Default Style
=================================*/
body{margin:0 auto;font-size:14px;color:#000;font-family:"Meiryo","メイリオ",sans-serif;line-height:1.4;-webkit-text-size-adjust:100%;-webkit-touch-callout:none;}
body > #base {height:auto;}

input,select,textarea{font-size:14px;font-family:monospace, sans-serif;}
input[type="text"],input[type="tel"],input[type="number"],textarea,select{font-size:16px;}
input[type="text"],input[type="tel"],input[type="number"],textarea{
background:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(255,255,255,0) 3px,rgba(255,255,255,0)), linear-gradient(to right,rgba(0,0,0,0.5),#fff 3px,#fff); /* for safari */
padding:5px 3px;width:100%;border:none;border-radius:3px;
box-shadow:inset 2px 2px 3px rgba(0,0,0,0.5);
-moz-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.5);
-webkit-box-shadow:inset 2px 2px 3px rgba(0,0,0,0.5);
}

/*=================================
   Content
=================================*/
#base{background:#fff;max-width:640px;height:100%;min-height:100%;margin:0 auto;}
.t_center{text-align:center;}

/*=== index ==================================================*/
#index img{max-width:100%;}

/*--- step ---*/
#index .entry_head {padding:15px;margin-bottom:10px;text-align:center;position: relative;background:#FFF;}
#index .entry_head > img{position: relative;z-index: 1;}
#index .entry_head:after {content: ''; position: absolute;top: 94%; left: 50%;margin: 0 0 0 -15px;width: 0;height: 0;
border-right: 15px solid transparent;
border-top: 15px solid #2e6ccd;
border-left: 15px solid transparent;
z-index: 0;
-webkit-animation: fadeInDown 1.5s ease infinite;
-moz-animation: fadeInDown 1.5s ease infinite;
animation: fadeInDown 1.5s ease infinite;
}

/*--- form ---*/
#index form{margin:10px 15px 0;}
#index form > p{text-align:center;}
#index input.mail_address{padding:12px 5px;width:100%;border:solid 2px #858c8c;border-radius:3px;line-height:1;background:#e9e7e8;box-shadow: none;}
#index input.mail_address::placeholder {font-size:16px;}
#index input[type="image"]{max-width:100%;padding:10px;}
#index input[type="submit"]{
background:#E20C01;margin-top:10px;padding: 10px 0px;width:75%;color: #FFF;font-size: 1.4em;font-weight: bold;text-align: center;
border-color: #FFA396 #090008 #090008 #F53F31;border-width: 4px;border-style: solid;border-radius: 5px;
text-shadow:1px 1px 1px #000;
}
#index input[type="submit"]:hover{background:#ff5148;}
#index .txt_error p{margin-bottom:5px;font-weight:bold;text-align:center;}
#index ul.list_note{padding:0 10px 10px; font-size:0.8em;}
#index ul.list_note li{margin-bottom:10px;}
#index ul.list_note li span{ color: #00F; font-weight:bold;}
p.error{margin:0;color:red;font-weight:bold;margin-bottom:1em;}

/*--- オーバーレイバナー ---*/
.overlay_01{position:fixed;top:0;z-index:100;display:none;background:rgba(0,0,0,0.7);width:100%;height:100%;text-align:center;}
.overlay_01 > div.inner{position:relative;display:inline-block;margin-top:20vh;width:90%;}
.overlay_01 > div.inner .image img{max-width:100%;}
.overlay_01 > div.inner .btn_close{position: absolute;top: -45px;right: 0; color: #FFF; width: 50px; height: 50px; font-size: 45px;font-weight: bold; text-align: center; cursor: pointer;}

/*--- エラーテキスト ---*/
.head_error{background: #FF0000; color: #FFF; font-size: 1.2em; font-weight: bold; text-align: center;}
.head_error > p{color: #FFF !important;font-weight: bold;padding: 2px;animation: errorColor 1.5s ease-in-out infinite;}
@keyframes errorColor {
0% {color:#FFF;}
50% {color:#FF0;}
100% {color:#FFF;}
}

/*=================================
   Animation
=================================*/
/*-- 拡大 --*/
.animated_zoomRepeat {
-webkit-animation:zoomRepeat 1.5s ease-in-out infinite;
-moz-animation:zoomRepeat 1.5s ease-in-out infinite;
animation: zoomRepeat 1.5s ease-in-out infinite;
}
@-webkit-keyframes zoomRepeat {
0% {-webkit-transform: scale(0.9) translate(0, 0);}
30% {-webkit-transform: scale(1, 1) translate(0, 5px);}
60% {-webkit-transform: scale(0.9) translate(0, 0);}
100% {-webkit-transform: scale(0.9) translate(0, 0);}
}
@-moz-keyframes zoomRepeat {
0% {-moz-transform: scale(0.9) translate(0, 0);}
30% {-moz-transform: scale(1, 1) translate(0, 5px);}
60% {-moz-transform: scale(0.9) translate(0, 0);}
100% {-moz-transform: scale(0.9) translate(0, 0);}
}
@keyframes zoomRepeat {
0% {transform: scale(0.9) translate(0, 0);}
30% {transform: scale(1, 1) translate(0, 5px);}
60% {transform: scale(0.9) translate(0, 0);}
100% {transform: scale(0.9) translate(0, 0);}
}
/*-- 点滅 --*/
.animated_flash {
 -webkit-animation: flash 1s ease infinite;
 -moz-animation: flash 1s ease infinite;
 animation: flash 1s ease infinite;
}
@-webkit-keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
@keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
/*-- フェードインダウン --*/
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-30px); }
 100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-moz-keyframes fadeInDown {
 0% { opacity: 0; -moz-transform: translateY(-30px); }
 100% { opacity: 1; -moz-transform: translateY(0px); }
}
@keyframes fadeInDown {
 0% { opacity: 0; transform: translateY(-30px); }
 100% { opacity: 1; transform: translateY(0px); }
}