@charset "utf-8";

/*=================================
   Universal Reset
=================================*/
html,body{margin:0;padding:0;width:100%;height:100%;font-size:100%;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,div,object,ul,ol,li,dl,dt,dd,fieldset,form,legend{margin:0;padding:0;font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
table,th,td{border:0;border-spacing:0;}
caption,th{text-align:left;}
em,strong,caption,th,address{font-style:normal;font-weight:normal;}
img{border:0 none;vertical-align:bottom;_vertical-align:text-bottom;}
input,select,textarea{margin:0;padding:0;vertical-align:middle;}
input{-webkit-appearance:none;appearance:none;}
input[type="submit"]{border:none;border-radius:0;}
input[type="radio"]{-webkit-appearance:radio;appearance:radio;}
input[type="checkbox"]{-webkit-appearance:checkbox;appearance:checkbox;}
option{padding-right:5px;}
article,aside,dialog,details,figure,figcaption,footer,header,hgroup,menu,nav,section{display:block;}
mark{font-weight:normal;font-style:normal;}
blockquote,q{quotes:none;}
a{vertical-align:baseline;text-decoration:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

/*=================================
   Default Style
=================================*/
body{margin:0 auto;font-size:14px;font-family:Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;line-height:1.4;-webkit-text-size-adjust:100%;-webkit-touch-callout:none;}
input,select,textarea{font-size:14px;font-family:monospace, sans-serif;}
body > #base{max-width: 640px;height:auto;margin: 0 auto;background: #FFF;}
img{max-width:100%;}

/*--- title ---*/
.ttl_01 {color: #FFF;padding: 5px 8px;font-weight: bold;background: #3b4b61;}

/*--- text ---*/
.f_red{color: #e53935;}
.f_green{color: #4caf50;}
.f_blue{color: #3187f9;}
.f_bold{font-weight:bold;}

/*--- サイト情報 ---*/
.sitedata > h1{color: #fff;font-size: 1.25em;font-weight: bold;text-align: center;padding: 10px;background: #3b4b61;}
.sitedata > .inner{padding:5px 10px;}
.sitedata > .inner .sitename{font-weight: bold;text-align: center;line-height: 1.2;padding: 2px 5px 5px;border-bottom: 2px dashed #d4d4d4;}
.sitedata > .inner p.image{margin:10px auto;}
.sitedata > .inner ul.list_hitresult li{display:flex;margin: 15px 0;}
.sitedata > .inner ul.list_hitresult li > h2 {width: 24px;color: #fff;font-size: 0.9em;font-weight: bold;text-align: center;letter-spacing: 10px;padding: 5px 3px 0;margin-right: 5px;background: #ef3d3c; writing-mode: vertical-rl;}
.sitedata > .inner ul.list_hitresult li > div{width:100%;}
.sitedata > .inner ul.list_hitresult li p{font-weight: bold;}
.sitedata > .inner ul.list_hitresult li p.date{font-size: 0.8em;border-bottom: 1px solid #d4d4d4;}
.sitedata > .inner ul.list_hitresult li p.ticket span {display: block;color: #ef3d3c;font-size: 1.2em;}

/*-- area_form --*/
.area_form{text-align: center;margin-bottom: 30px;}
.area_form h2{font-size:1.6em;color:#771414;font-weight:bold;}
.area_form .cd_time{font-size:2.1em;color:#771414;font-weight:bold;}

/*-- form --*/
input[type="text"]{font-size:16px;
border:2px solid #8D9293;background: #E9E8E8;color: #8D9293;display:block;width: 90%;margin: 15px auto;padding:15px 10px;color: #000;}
input[type="submit"]{color:#FFF;font-size:20px;padding:20px 10px; display:block;width: 90%;margin: 15px auto;font-weight:bold!important;border:3px solid #FF0048;border-radius:10px;
box-shadow:0 5px 3px #690909;
background: #FD1900;
background: -moz-linear-gradient(top, #FD1900 0%, #CF0100 100%);
background: -webkit-linear-gradient(top, #FD1900 0%,#CF0100 100%);
background: linear-gradient(to bottom, #FD1900 0%,#CF0100 100%);}

/*-- box_01 見出し付きBOX --*/
.box_01{position: relative;padding: 30px 10px 10px;margin: 20px auto;border: 2px solid #dedede;}
.box_01 > h2{display: inline-block;position: absolute;left: -2px;top: -10px;min-width: 200px;color: #FFF;font-size: 1.1em;font-weight:bold;padding: 5px 15px 5px 10px;background: #246290;
background: -webkit-gradient(linear, left top, left bottom, from(#3e85b9),color-stop(0.4, #3e85b9 ),color-stop(0.5, #246290 ), to(#246290));
background: -moz-linear-gradient(top,#3e85b9,#3e85b9 50%,#246290 55%,#246290);
background: linear-gradient(to bottom,#3e85b9,#3e85b9 50%,#246290 55%,#246290);}
.box_01 > h2:before {position: absolute;content: '';top: 0;right: -4px;border: none;border-bottom: solid 8px #333;border-right: solid 4px transparent;}
.box_01 > h2 > span {width: 16px;height: 16px;display: inline-block;vertical-align: text-top;margin-right: 5px;}

/* box_voice */
.box_01.box_voice > h2 > span:before{
content: "\f4ad";
font-family: "Font Awesome 5 Free";
font-weight: 900;
}
/* box_rcm */
.box_01.box_rcm > h2 > span{width: 16px;height: 16px;display: inline-block;vertical-align: text-top;margin-top: 1px;margin-right: 5px;
background: url(../icon_exclamation.png) no-repeat;
background-size: 100%;
}
.box_01.box_rcm > p.catch {font-size: 1.2em;font-weight: bold;margin-bottom: 10px;}

/*--- list_voice ---*/
ul.list_voice li{padding:10px 0;border-bottom:1px solid #EEE;}
ul.list_voice li:last-child{border-bottom:0;padding-bottom:0;}
ul.list_voice li p{text-align: justify;font-weight:bold;}
ul.list_voice li p.photo{margin:0 auto;width:70%;text-align: center;}
ul.list_voice li p.photo img{margin-top:5px;border:solid 1px #246290;}
ul.list_voice li p.photo img[src=""]{display: none;}
ul.list_voice li p.author{color: #555;font-size: 0.8em;font-weight:normal;text-align: right;margin-top: 5px;}

/*--- オーバーレイバナー ---*/
.overlay_01{position:fixed;top:0;z-index:100;display:none;background:rgba(0,0,0,0.7);width:100%;height:100%;text-align:center;}
.overlay_01 > div.inner{position:relative;display:inline-block;margin-top:20vh;width:90%;}
.overlay_01 > div.inner .image img{max-width:100%;}
.overlay_01 > div.inner .btn_close{position: absolute;top: -45px;right: 0; color: #FFF; width: 50px; height: 50px; font-size: 45px;font-weight: bold; text-align: center; cursor: pointer;}

/*--- エラーテキスト ---*/
.head_error{background: #FF0000; color: #FFF; font-size: 1.2em; font-weight: bold; text-align: center;}
.head_error > p{color: #FFF !important;font-weight: bold;padding: 2px;animation: errorColor 1.5s ease-in-out infinite;}
@keyframes errorColor {
0% {color:#FFF;}
50% {color:#FF0;}
100% {color:#FFF;}
}

/*--- copyright ---*/
.copyright {background:#EEE;color:#555;font-size:0.8em;font-weight:bold;text-align:center;padding:10px;}

/*==================================================================
   Animation
==================================================================*/
/*-- 拡大 --*/
.animated_zoomRepeat {  animation: zoomRepeat 1.5s ease-in-out infinite;}
@keyframes zoomRepeat {
0% {transform: scale(0.9) translate(0, 0);}
30% {transform: scale(1, 1) translate(0, 5px);}
60% {transform: scale(0.9) translate(0, 0);}
100% {transform: scale(0.9) translate(0, 0);}
}
/*-- 拡大2 --*/
.animated_heartBeat {animation: heartBeat 1.5s infinite alternate;}
@-webkit-keyframes heartBeat {
0% { -webkit-transform: scale(1);transform: scale(1);}
14% { -webkit-transform: scale(1.3);transform: scale(1.3);}
28% { -webkit-transform: scale(1);transform: scale(1);}
42% { -webkit-transform: scale(1.3);transform: scale(1.3);}
70% { -webkit-transform: scale(1);transform: scale(1);}
}
@keyframes heartBeat {
0% {-webkit-transform: scale(1);transform: scale(1);}
14% {-webkit-transform: scale(1.3);transform: scale(1.3);}
28% {-webkit-transform: scale(1);transform: scale(1);}
42% {-webkit-transform: scale(1.3);transform: scale(1.3);}
70% {-webkit-transform: scale(1);transform: scale(1);}
}