.pushy{position:fixed;width:300px;height:100%;top:0;z-index:9999;background:#fff;overflow:auto;-webkit-overflow-scrolling:touch;}
.pushy a{display:block;padding-left:30px;color:#840000;text-decoration:none;font-weight:bold;}
.pushy a:hover{}
.pushy ul:first-child{}
.pushy.pushy-left{left:0;}
.pushy.pushy-right{right:0;}
.pushy-content{visibility:hidden;}
.pushy-left{-webkit-transform:translate3d(-300px, 0, 0);-ms-transform:translate3d(-300px, 0, 0);transform:translate3d(-300px, 0, 0);}
.pushy-open-left .push{-webkit-transform:translate3d(300px, 0, 0);-ms-transform:translate3d(300px, 0, 0);transform:translate3d(300px, 0, 0);}
.pushy-right{-webkit-transform:translate3d(300px, 0, 0);-ms-transform:translate3d(300px, 0, 0);transform:translate3d(300px, 0, 0);}
.pushy-open-right .push{-webkit-transform:translate3d(-300px, 0, 0);-ms-transform:translate3d(-300px, 0, 0);transform:translate3d(-300px, 0, 0);}
.pushy-open-left .pushy,
.pushy-open-right .pushy{-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content{visibility:visible;}
.pushy,
.push{transition:transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);}
.pushy-content{transition:visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);}
.site-overlay{display:none;}
.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay{display:block;position:fixed;top:0;right:0;bottom:0;left:0;z-index:9998;background-color:rgba(0, 0, 0, 0.5);-webkit-animation:fade 500ms;animation:fade 500ms;}
@keyframes fade{0%{opacity:0;}
100%{opacity:1;}
}
@-webkit-keyframes fade{0%{opacity:0;}
100%{opacity:1;}
}
.pushy-submenu{}
.pushy-submenu ul{padding-left:15px;transition:max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;}
.pushy-submenu ul .pushy-link{transition:opacity 0.2s ease-in-out;}
.pushy-submenu button{width:100%;color:#b3b3b1;padding:15px 30px;text-align:left;background:transparent;border:0;}
.pushy-submenu button:hover{color:#FFF;}
.pushy-submenu > a,
.pushy-submenu > button{position:relative;}
.pushy-submenu > a::after,
.pushy-submenu > button::after{content:'';display:block;height:11px;width:8px;position:absolute;top:50%;right:15px;background:url("../img/arrow.svg") no-repeat;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);transition:transform 0.2s;}
.pushy-submenu-closed ul{max-height:0;overflow:hidden;visibility:hidden;}
.pushy-submenu-closed .pushy-link{opacity:0;}
.pushy-submenu-open{}
.pushy-submenu-open ul{max-height:1000px;visibility:visible;}
.pushy-submenu-open .pushy-link{opacity:1;}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after{-webkit-transform:translateY(-50%) rotate(90deg);-ms-transform:translateY(-50%) rotate(90deg);transform:translateY(-50%) rotate(90deg);}
.pushy .logo{background:#540101;}
.pushy .logo img{width:140px;}
.pushy dl dt{background:#840000;padding:0 17px;color:#fff;font-weight:bold;font-size:1.9rem;}
.pushy dl dd{font-size:1.9rem;}
.pushy dl dd ul li a{background:url(images/menu_arrow.png) no-repeat 12px center;background-size:1.3em;padding:15px 10px 15px 50px;}
.pushy dl dd ul li.index a{background:url(images/menu_home.png) no-repeat 10px calc(50% - 3px);background-size:1.4em;}
.pushy dl dd ul li.sttlmnt a{background:url(images/menu_bag.png) no-repeat 10px calc(50% - 4px);background-size:1.4em;}
.pushy dl dd ul li.expcttn1 a{background:url(images/menu_note.png) no-repeat 13px center;background-size:1.2em;}
.pushy dl dd ul li.expcttn2 a{background:url(images/menu_docment.png) no-repeat 13px center;background-size:1.2em;}
.pushy dl dd ul li.mailbox a{background:url(images/menu_mail.png) no-repeat 12px center;background-size:1.3em;}
.pushy dl dd ul li.hit a{background:url(images/menu_target.png) no-repeat 10px center;background-size:1.5em;}
.pushy dl dd ul li.voice a{background:url(images/menu_voice.png) no-repeat 10px center;background-size:1.4em;}
.pushy dl dd ul li.qa a{background:url(images/menu_qa.png) no-repeat 10px center;background-size:1.5em;}
.pushy dl dd ul li a:hover{background-color:#eee;}