@charset "utf-8";

/*=================================
   Universal Reset
=================================*/
html,body{margin:0;padding:0;width:100%;height:100%;font-size:100%;-webkit-touch-callout:none;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,div,object,ul,ol,li,dl,dt,dd,fieldset,form,legend{margin:0;padding:0;font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
table,th,td{border:0;border-spacing:0;}
caption,th{text-align:left;}
em,strong,caption,th,address{font-style:normal;font-weight:normal;}
img{border:0 none;vertical-align:bottom;_vertical-align:text-bottom; max-width:100%;}
input,select,textarea{margin:0;padding:0;vertical-align:middle;}
input{-webkit-appearance:none;appearance:none;}
input[type="submit"]{border:none;border-radius:0;}
input[type="radio"]{-webkit-appearance:radio;appearance:radio;}
input[type="checkbox"]{-webkit-appearance:checkbox;appearance:checkbox;}
option{padding-right:5px;}
article,aside,dialog,details,figure,figcaption,footer,header,hgroup,menu,nav,section{display:block;}
mark{font-weight:normal;font-style:normal;}
blockquote,q{quotes:none;}
a{vertical-align:baseline;text-decoration:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

/*=================================
   Default Style
=================================*/
body{margin:0 auto;font-size:14px;color:#000;font-family:"Meiryo","メイリオ",sans-serif;line-height:1.4;-webkit-text-size-adjust:100%;-webkit-touch-callout:none;}
input,select,textarea{font-size:14px;font-family:monospace, sans-serif;}
body > #base {height:auto;}

a, a:visited{color:#145fad;}
a:hover, a:active{color:#145fad;}

/*=================================
   Content
=================================*/
#base{background:#fff;max-width:640px;height:100%;min-height:100%;margin:0 auto;}
#base.index{padding-bottom:100px;}

/*--- text ---*/
.f_red{color:#FF0000;}
.f_bold{font-weight:bold;}
.f_S{font-size:0.8em !important;}
.f_L{font-size:1.2em !important;}

.t_left{text-align:left;}
.t_center{text-align:center;}
.t_right{text-align:right;}

/*=== errorページ(Index) ====================================*/
.error .error_message{margin:20px 15px;text-align:center;}
.error .error_message > p{font-weight:bold;padding:20px 10px;border: 2px solid #FF0000;}
.error .error_message > p:before,
.error .error_message > p:after{color:#ffd707;font-family: "Font Awesome 5 Free";font-weight: 900;content:"\f071";padding:0 10px;text-shadow: 2px 0px 0px #000,-2px 0px 0px #000,0px 2px 0px #000,0px -2px 0px #000;}
.error .btn_back a{display: block;color: #555;font-weight: bold;width: 200px;margin: 15px auto;padding:10px 5px;text-align: center;border: 2px solid #555;border-radius: 20px;background: #EEE;}

/*=== done ==================================================*/
.done {text-align:center;}
.done ul.done_step{width:92%;margin:15px auto;background:#FFF;}
.done ul.done_step li{margin-bottom:25px;position:relative;z-index:1;}
.done ul.done_step li:after{content:'';position: absolute;bottom:-20px;
left:50%;margin:0 0 0 -15px;width:0;height:0;
border-right:15px solid transparent;
border-top:15px solid #2e6ccd;
border-left:15px solid transparent;z-index:0;
-webkit-animation: fadeInDown 1.5s ease infinite;
-moz-animation: fadeInDown 1.5s ease infinite;
animation: fadeInDown 1.5s ease infinite;}
.done ul.done_step li:last-child:after{content:none;}
.done ul.done_step li:last-child {margin-bottom: 0;}
.done ul.done_step li > img{position:relative;z-index:1;}
.done ul.done_step li > .popup_attention{position:absolute;left:12%;top:38%;max-width:6%;z-index:1;}
.done ul.done_step li > .usermail{font-weight:bold;background: #FFF;position: relative;z-index: 1;}
.done ul.done_step li > .usermail > span{display:block;color:#FF0000;font-size:1.2em;margin: 10px 0 5px;word-break: break-all;}

/*-- 再登録誘導 --*/
.done .area_retry{display:none;width: 92%;margin: 15px auto;}
.done .area_retry p.btn_retry a{display:block;margin: 5px 15px;}

/*-- キャリア別 --*/
.done .mail_confirm{width:92%;margin:15px auto;background:#faffbd;border-radius:15px;}
.done .mail_confirm > h2{font-size:1.1em;padding:10px 5px;background:#ffbc33;border-top-left-radius:15px;border-top-right-radius:15px;}
.done .mail_confirm > h2 > span{font-weight:bold;}
.done .mail_confirm > h2 > span:before,
.done .mail_confirm > h2 > span:after{color:#ffd707;font-family: "Font Awesome 5 Free";font-weight: 900;content:"\f071";padding:0 10px;text-shadow: 2px 0px 0px #000,-2px 0px 0px #000,0px 2px 0px #000,0px -2px 0px #000;}
.done .mail_confirm .inner{padding:10px;}
.done .mail_confirm .inner > p{font-size: 1.1em;font-weight: bold;margin-bottom:30px;}
.done .mail_confirm .inner > h3{font-size:1.2em;font-weight:bold;margin:15px 0;padding-left:10px;text-align: left;line-height: 1.8; border-left:5px solid #ff0000;}
.done .mail_confirm .inner .btn_mail a{display: block;color:#333;font-weight:bold;margin:15px auto;padding:5px;border:2px solid #4d4d4d;border-radius:30px;background:#FFF;}
.done .mail_confirm .inner .btn_mail a > img{max-height:50px;display:inline-block;vertical-align: middle;margin-right:10px;}
.done .mail_confirm .inner .btn_setting a{display:block;max-width:80%;margin:0 auto;}

/*--- コピーボタン ---*/
.js-copybtn{display: block;color: #FFF;width: 150px;margin: 0 auto 5px;padding: 5px;font-size: 0.7em;font-weight:bold;border: none; border-radius: 5px; background: rgba(0, 0, 0, 0.7);position:relative;}
.js-copybtn:after{content: '';position: absolute;bottom: -8px;left: 50%;margin: 0 0 0 -8px;width: 0;height: 0;
border-right: 8px solid transparent;
border-top: 8px solid rgba(0, 0, 0, 0.7);
border-left: 8px solid transparent;
}

.copyright{color:#FFF;font-size:0.8em;text-align: center;padding:5px;background:#000;}

/*=================================
   Animation
=================================*/
/*-- 拡大 --*/
.animated_zoomRepeat {
-webkit-animation:zoomRepeat 1.5s ease-in-out infinite;
-moz-animation:zoomRepeat 1.5s ease-in-out infinite;
animation: zoomRepeat 1.5s ease-in-out infinite;
}
@-webkit-keyframes zoomRepeat {
0% {-webkit-transform: scale(0.9) translate(0, 0);}
30% {-webkit-transform: scale(1, 1) translate(0, 5px);}
60% {-webkit-transform: scale(0.9) translate(0, 0);}
100% {-webkit-transform: scale(0.9) translate(0, 0);}
}
@-moz-keyframes zoomRepeat {
0% {-moz-transform: scale(0.9) translate(0, 0);}
30% {-moz-transform: scale(1, 1) translate(0, 5px);}
60% {-moz-transform: scale(0.9) translate(0, 0);}
100% {-moz-transform: scale(0.9) translate(0, 0);}
}
@keyframes zoomRepeat {
0% {transform: scale(0.9) translate(0, 0);}
30% {transform: scale(1, 1) translate(0, 5px);}
60% {transform: scale(0.9) translate(0, 0);}
100% {transform: scale(0.9) translate(0, 0);}
}
/*-- 点滅 --*/
.animated_flash {
 -webkit-animation: flash 1s ease infinite;
 -moz-animation: flash 1s ease infinite;
 animation: flash 1s ease infinite;
}
@-webkit-keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
@keyframes flash {
0% {opacity:1;}
80% {opacity:1;}
90%{opacity:0;}
100% {opacity:1;}
}
/*-- フェードインダウン --*/
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-30px); }
 100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-moz-keyframes fadeInDown {
 0% { opacity: 0; -moz-transform: translateY(-30px); }
 100% { opacity: 1; -moz-transform: translateY(0px); }
}
@keyframes fadeInDown {
 0% { opacity: 0; transform: translateY(-30px); }
 100% { opacity: 1; transform: translateY(0px); }
}