
.admin_default{
    color:black !important;
    font:normal 12px/120% 'メイリオ',sans-serif;
}

.admin_table{
    padding:2px;
    text-align:center;
    background:wheat;
    font-weight:bold;
}

.admin_td{
    padding:2px;
    text-align:center;
    font-weight:normal;
}

.admin_search{
    text-align:center;
    background:wheat;
    font-weight:bold;
}




