@charset "utf-8";

/*=================================
   Universal Reset
=================================*/
html,body{margin:0;padding:0;width:100%;height:100%;font-size:100%;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,div,object,ul,ol,li,dl,dt,dd,fieldset,form,legend{margin:0;padding:0;font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
table,th,td{border:0;border-spacing:0;}
caption,th{text-align:left;}
em,strong,caption,th,address{font-style:normal;font-weight:normal;}
img{border:0 none;vertical-align:bottom;_vertical-align:text-bottom;}
input,select,textarea{margin:0;padding:0;vertical-align:middle;}
input{-webkit-appearance:none;appearance:none;}
input[type="submit"]{border:none;border-radius:0;}
input[type="radio"]{-webkit-appearance:radio;appearance:radio;}
input[type="checkbox"]{-webkit-appearance:checkbox;appearance:checkbox;}
option{padding-right:5px;}
article,aside,dialog,details,figure,figcaption,footer,header,hgroup,menu,nav,section{display:block;}
mark{font-weight:normal;font-style:normal;}
blockquote,q{quotes:none;}
a{vertical-align:baseline;text-decoration:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}

/*=================================
   Default Style
=================================*/
body{margin:0 auto;font-size:14px;color:#FFF;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;line-height:1.4;-webkit-text-size-adjust:100%;-webkit-touch-callout:none;}
input,select,textarea{font-size:16px;font-family:inherit}
input[type="text"],input[type="tel"],input[type="number"],textarea,select,input[type="password"]{font-size:16px;}
input[type="submit"]{line-height:1.4;}
body > #base{height:auto;}
img{max-width:100%;height:auto;width:auto;}

/*=================================
   Common Style
=================================*/
/*--- title ---*/
.ttl_01{background:#840605;width:100%;color:#e4cc02;font-size:2.4em;font-weight:bold;text-align: center; padding:3%;text-shadow: 2px 2px 0 #000;}
.ttl_02{color:#e4cc02;font-size:2em;font-weight:bold;text-shadow: 2px 2px 0 #000;margin-bottom:3%;}

/*--- other ---*/
.t_inline > span{display: inline-block;}
dl.list_01 > *{font-size:1.2em;}
dl.list_01 > dt{color:#ffea00;font-weight:bold;margin-bottom:2%;}
dl.list_01 > dd{margin-bottom:5%;}

/*--- オーバーレイバナー ---*/
.overlay_01{position:fixed;top:0;z-index:100;display:none;background:rgba(0,0,0,0.7);width:100%;height:100%;text-align:center;}
.overlay_01 > div.inner{position:relative;display:inline-block;margin-top:20vh;width:90%;}
.overlay_01 > div.inner .image img{max-width:100%;}
.overlay_01 > div.inner .btn_close{position: absolute;top: -45px;right: 0; color: #FFF; width: 50px; height: 50px; font-size: 45px;font-weight: bold; text-align: center; cursor: pointer;}

/* header ==========*/
header{background:#502f0f;color:#fff;}
header .inner{max-width:1000px;margin:0 auto;padding:1.2%;overflow:hidden;}
header .inner h1{display: flex;align-items: center;}
header .inner span{font-size:1.2em;font-weight: bold;text-shadow: 1px 1px 0px #000;}
header .inner .logo{max-width:40%;}
header .inner .logo a{display:block;margin-right:10px;}

.container{min-height: 80vh;background:#5e911f url(/LP/1/bg_main.png) center top no-repeat;}
.contents{max-width:1000px;margin:0 auto;background:rgba(0,0,0,0.4);}
.contents.inner{padding:5% 3%;}

/* maintop ==========*/
.maintop{position:relative;}
.maintop h2{position:absolute;max-width:50%;top:8%;left:5%;z-index:10;}
.maintop .mainimg{position:absolute;max-width:65%;top:15%;left:-3%;}
.maintop .circle{position:absolute;max-width:50%;top:1%;right:2%;padding:10% 10% 12%;background:url(/LP/1/main_circle.png) no-repeat;background-size: cover;}
.maintop > p{font-size:2em;font-weight:bold;line-height: 1.8; padding:60% 5% 8%;text-align: justify; text-shadow:0px 0px 5px #000;position:relative;z-index: 10;}

/* area_form ==========*/
.area_form{background:#2a4e24;}
.area_form h2{background:#0c130a;color:#fee300;font-size:2em;font-weight:bold;text-align: center;padding:2%;margin-bottom:20px;position:relative;}
.area_form h2:after{
content:'';
position: absolute;
bottom:-20px;
left:50%;
margin:0 0 0 -20px;
width:0;
height:0;
border-right:20px solid transparent;
border-top:20px solid #0c130a;
border-left:20px solid transparent;}
.area_form .inner{padding:2% 5% 5%;}
.area_form ul.list_regist_step{display: flex;margin-bottom:3%;}
.area_form ul.list_regist_step > li{width:33.3%;text-align: center;padding:5px;}
.area_form form{max-width:650px;margin:0 auto;}
.area_form input[type="text"]{width:100%;text-align:left;margin:3% auto;padding:3%;background:#e9e8e8;
border :5px solid #6F6F6F;
border-radius :10px;
-webkit-border-radius :10px;}
.area_form .btn_submit{border:5px solid #fee300;border-radius:5px;margin: 10px auto;}
.area_form input[type="submit"]{display: block;width:100%;padding: 15px 2px;color: #fff !important;font-size: 2em;font-weight: bold;cursor: pointer;text-align: center;text-decoration: none !important;line-height: 1.4;
background: #ff0000;
border: solid 5px #ff1c1c;
border-top-color: #ffa4a4;
border-bottom-color: #000000;
border-radius: 3px;
box-shadow: inset 0 0 5px #ffa4a4;
-moz-box-shadow: inset 0 0 5px #ffa4a4;
-webkit-box-shadow: inset 0 0 5px #ffa4a4;
}
.area_form .btn_submit:hover{border:5px solid #ffffff;}
.area_form p.note{text-align: center;}

/* area_race ==========*/
.area_race{text-align: center;padding:5%;background:url(/LP/1/race_bg.png) center top no-repeat;background-size:cover;}
.area_race .race{color:#FFF;font-weight:bold;font-size:2.2em;margin:5% 0;padding:3%;background:#1c2b09;}

/* area_hit ==========*/
ul.list_hit li.hitresult{margin:30px 20px 0;color:#000;background:url(/LP/1/list_hit_bg.png) no-repeat;background-size:100%;position: relative;}
ul.list_hit li.hitresult p{font-weight:bold;}
ul.list_hit li.hitresult p.race{position:absolute;top:33%;right:5%;font-size:3.3em;}
ul.list_hit li.hitresult p.place{position:absolute;top:35%;right:5%;font-size:2.8em;}
ul.list_hit li.hitresult p.date{font-size:2em;padding-top:43%;margin-bottom:2%;border-bottom:2px solid #000;}
ul.list_hit li.hitresult p.ticket{font-size:2.8em;padding:0 2%;margin-bottom:2%;border:2px solid #000;}
ul.list_hit li.hitresult p.dividend{color:#d20b0b;font-size:4.3em;}
ul.list_hit li.hitresult p.dividend > span{margin-left:10px;font-size:0.6em;}
ul.list_hit li.hitresult p.stamp{position:absolute;top:2%;right:0%;max-width:50%;}

/* area_reason ==========*/
.area_reason{background:#012b24;}
ul.list_reason{padding:5%;}
ul.list_reason > li{margin-bottom:5%;padding-left:15%;}
ul.list_reason > li:first-child{background: url(/LP/1/reason_no1.png) left top no-repeat;}
ul.list_reason > li:nth-child(2){background: url(/LP/1/reason_no2.png) left top no-repeat;}
ul.list_reason > li:nth-child(3){background: url(/LP/1/reason_no3.png) left top no-repeat;}
ul.list_reason > li:nth-child(4){background: url(/LP/1/reason_no4.png) left top no-repeat;}
ul.list_reason > li > *{font-weight:bold;}
ul.list_reason > li > h3{color:#e4cc02;font-size:2.1em;margin-bottom:2%;}
ul.list_reason > li > p{color:#FFF;font-size:1.6em;line-height: 1.8;text-align: justify;}

/* area_voice ==========*/
.area_voice {}
ul.list_voice{padding:5%;}
ul.list_voice li{background:#FFF;display:flex;padding:3%;margin-bottom:5%;}
ul.list_voice li .image{width:20%;}
ul.list_voice li .text{width:80%;color:#333;font-size:1.8em;text-align: justify;padding-left: 2%;}
ul.list_voice li .text .date{color:#014035;font-weight:bold;margin-bottom: 1%;}

/* footer ==========*/
footer{background:#502f0f;text-align: center;}
footer nav{padding:2%;background:#7a4817;}
footer ul.f_nav{max-width:1000px;margin:0 auto;}
footer ul.f_nav li a{color:#FFF;font-size:1.4em;font-weight:bold;padding:5px 15px;}
footer ul.f_nav li a:hover{color:#EEE;}
footer p.copyright{padding:2%;}

/*===============================================
   PC style
===============================================*/
@media screen and (min-width:950px){
body{font-size:14px;}

.maintop{
background: -webkit-linear-gradient(to bottom, transparent 58%, #840605 58%);
background: -moz-linear-gradient(to bottom, transparent 58%, #840605 58%);
background: linear-gradient(to bottom, transparent 58%, #840605 58%);
}
ul.list_hit li.hitresult{padding:0% 30px 2.5%;}
footer ul.f_nav{max-width:1000px;margin:0 auto;display:flex;justify-content:center;}
footer ul.f_nav li{border-right:1px solid #FFF;}
footer ul.f_nav li:last-child{border-right:none;}

/*pc*/}/*fin*/
/*===============================================
   sp style
===============================================*/
@media screen and (max-width:949px){
body{font-size:2vw;}

.maintop{
background: -webkit-linear-gradient(to bottom, transparent 50%, #840605 50%);
background: -moz-linear-gradient(to bottom, transparent 50%, #840605 50%);
background: linear-gradient(to bottom, transparent 50%, #840605 50%);
}
ul.list_hit li.hitresult{padding:0% 15px 1.8%;}
ul.list_reason > li{background-size:13% !important;}
ul.list_voice li .image{display:none;}
ul.list_voice li .text{width: 100%;}
dl.list_01 > *{font-size:1.6em;}

footer nav{padding:0;}
footer ul.f_nav li{border-bottom:1px solid #000;}
footer ul.f_nav li:last-child{border-bottom:none;}
footer ul.f_nav li a{display:block;padding:3%;}

/*sp*/}/*fin*/  

/*==============================================
  animation
==============================================*/
/*----- スライド用ズームイン -----*/
.zoomIn {
transform: scale(0, 0);
-webkit-transform: scale(0, 0);
transition: 0.8s;
}
.slick-active .zoomIn.active {
transform: scale(1, 1);
-webkit-transform: scale(1, 1);
}

/*-- フェードインrightBound inview --*/
.animated_fadeInRightBound{opacity: 0;}
.animated_fadeInRightBound.active{opacity: 1;
 -webkit-animation: fadeInRightBound 0.5s ease 1;
 -moz-animation: fadeInRightBound 0.5s ease 1;
 animation: fadeInRightBound 0.5s ease 1;
}
@-webkit-keyframes fadeInRightBound {
 0% { opacity: 0; -webkit-transform: translateX(-300px); }
 60% { opacity: 1; -webkit-transform: translateX(10px); }
 80% {  -webkit-transform: translateX(-10px); }
 100% {  -webkit-transform: translateX(0); }
}
@-moz-keyframes fadeInRightBound {
 0% { opacity: 0; -moz-transform: translateX(-300px); }
 60% { opacity: 1; -moz-transform: translateX(10px); }
 80% {  -moz-transform: translateX(-10px); }
 100% { opacity: 1; -moz-transform: translateX(0); }
}
@keyframes fadeInRightBound {
 0% { opacity: 0; transform: translateX(-300px); }
 60% { opacity: 1; transform: translateX(10px); }
 80% {  transform: translateX(-10px); }
 100% { opacity: 1; transform: translateX(0); }
}

/*-- フェードインアップ inview --*/
.animated_fadeInUp{opacity: 0;}
.animated_fadeInUp.active{opacity: 1;
-webkit-animation-name:fadeInUp;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease;
-webkit-animation-duration:0.5s;
-moz-animation-name:fadeInUp;
-moz-animation-iteration-count:1;
-moz-animation-timing-function:ease;
-moz-animation-duration:0.5s;
animation-name: fadeInUp;
animation-duration:0.5s;
animation-iteration-count:1;
animation-timing-function:ease;
}
@-webkit-keyframes fadeInUp {
 0% { opacity: 0; -webkit-transform: translateY(30px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes fadeInUp {
 0% { opacity: 0; -moz-transform: translateY(30px); }
 100% { opacity: 1; -moz-transform: translateY(0); }
}
@keyframes fadeInUp {
 0% { opacity: 0; transform: translateY(30px); }
 100% { opacity: 1; transform: translateY(0); }
} 

/*-- フェードインダウン inview --*/
.animated_fadeInDown{opacity: 0;}
.animated_fadeInDown.active{opacity: 1;
-webkit-animation-name:fadeInDown;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease;
-webkit-animation-duration:0.5s;
-moz-animation-name:fadeInDown;
-moz-animation-iteration-count:1;
-moz-animation-timing-function:ease;
-moz-animation-duration:0.5s;
animation-name: fadeInDown;
animation-duration:0.5s;
animation-iteration-count:1;
animation-timing-function:ease;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-30px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes fadeInDown {
 0% { opacity: 0; -moz-transform: translateY(-30px); }
 100% { opacity: 1; -moz-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; transform: translateY(-30px); }
 100% { opacity: 1; transform: translateY(0); }
}
    
/*==============================================
  slick.js スライダー用
==============================================*/
.slick-dotted.slick-slider{margin-bottom: 40px;}
.slick-dots{position: absolute;bottom: -25px;display: block;width: 100%;padding: 0;margin: 0;list-style: none;text-align: center;}
.slick-dots li{position: relative;display: inline-block;width: 20px;height: 20px;margin: 0 5px;padding: 0;cursor: pointer;}
.slick-dots li button{font-size: 0;line-height: 0;display: block;width: 20px;height: 20px;padding: 5px;cursor: pointer;color: transparent;border: 0;outline: none;background: transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity: 1;}
.slick-dots li button:before{font-family: 'slick';font-size: 6px;line-height: 20px;position: absolute;top: 0;left: 0;width: 20px;height: 20px;content: '●';text-align: center;opacity: .25;color: black;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button:before{opacity: .75; color: black;}