@charset "utf-8";

/* ------------------------------
   Universal Reset
   Default Style
   Content
   For Mobile
   ClearFix
------------------------------ */

/*==================================================================
   Universal Reset
==================================================================*/
html,body{margin:0;padding:0;width:100%;height:100%;font-size:100%;}
main{display:block;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,div,object,ul,ol,li,dl,dt,dd,tr,td,fieldset,form,legend,small{margin:0;padding:0;font-size:100%;font-weight:normal;}
ul,ol{list-style:none;}
fieldset{margin:0;padding:0;border:0 none;}
legend{display:none;}
table,th,td{border:0;border-spacing:0;}
caption,th{text-align:left;}
em,strong,cite,abbr,caption,th,address{font-style:normal;font-weight:normal;}
img{max-width:100%;border:0 none;vertical-align:bottom;_vertical-align:text-bottom;}
button,input,select,textarea{margin:0;padding:0;border:none;border-radius:0;vertical-align:middle;}
button,input,select{-moz-appearance:none;-webkit-appearance:none;appearance:none;}
select::-ms-expand{display:none;}
button[type="submit"],input[type="submit"]:hover{cursor:pointer;}
input[type="radio"]{-moz-appearance:radio;-webkit-appearance:radio;appearance:radio;}
input[type="checkbox"]{-moz-appearance:checkbox;-webkit-appearance:checkbox;appearance:checkbox;}
option{padding-right:5px;}
article,aside,dialog,details,figure,figcaption,footer,header,hgroup,menu,nav,section{display:block;}
mark{font-weight:normal;font-style:normal;}
blockquote,q{quotes:none;}
a{vertical-align:baseline;text-decoration:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}


/*==================================================================
   Default Style
==================================================================*/
html{font-size:62.5%;}
body{background:url(images/bg_newspaper.jpg) repeat 0 93px;color:#000;line-height:1.7;-webkit-text-size-adjust:100%;
font-family:'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;}
main{background:#BE0101;margin:0 auto;padding:20px 30px 62px;width:1200px;overflow:hidden;
min-height:calc(100vh - 92.5px - 226px); /* フッタ最下部固定 */
}
a, a:visited{color:#22AC38;}
a:hover, a:active{color:#93E14D;}
#state_out{font-size:2.5rem;} /* 25px */
#state_in{font-size:1.8rem;} /* 18px */
#state_in #container{background:#fff;margin:0 auto;width:1200px;margin-bottom:20px;padding:13px 30px 30px;border:solid 3px #000;border-top:none;}
#state_in main{float:right;background:#F1E9E9;padding:0 20px 30px;width:780px;min-height:auto;color:#6b6b6b;}

/*========== form ==========*/
button,input,select,textarea{font-size:100%;font-family:'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;}
button[type="submit"],input[type="submit"],input[type="button"],input[type="file"]{line-height:1;}
input[type="text"],input[type="search"],input[type="tel"],input[type="url"],input[type="email"],input[type="password"],
input[type="number"],input[type="range"],input[type="color"],
input[type="datetime"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime-local"],
select,textarea{
padding:6px;border:solid 2px #000;border-radius:2px;
box-shadow:inset 2px 2px 5px rgba(0,0,0,0.5);
-moz-box-shadow:inset 2px 2px 5px rgba(0,0,0,0.5);
-webkit-box-shadow:inset 2px 2px 5px rgba(0,0,0,0.5);
}
textarea{
background:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(255,255,255,0) 5px,rgba(255,255,255,0)), linear-gradient(to right,rgba(0,0,0,0.1),#fff 5px,#fff); /* for safari */
}
select{padding:6px 8px;}
input[type="radio"],input[type="checkbox"]{vertical-align:text-bottom;}


/*==================================================================
   Content
==================================================================*/
/*========== common ==========*/
/* header ==========*/
header{background:#f00;min-width:1200px;color:#fff;border-bottom:solid 10px #BE0101;}
header .inner{margin:0 auto;padding:20px 30px 10px;width:1200px;}
header .inner .logo{float:left;}
header .inner .logo a{display:inline-block;}
header .inner #login{float:right;margin-top:10px;}
header .inner #login ul{float:left;}
header .inner #login ul > li{float:left;margin-left:24px;}
header .inner #login ul > li:first-child{margin-left:0;}
header .inner #login .btn{float:left;margin-left:20px;}
header .inner #login input{width:6em;vertical-align:top;}
header .inner #login input:not([type="submit"]){background:#fff;min-width:170px;font-size:1.5rem;}
header .inner #login input[type="submit"]{padding:9px 0;min-width:132px;font-size:1.8rem;font-weight:bold;border:solid 1px #467F00;text-align:center;
background:#93E14D;
background:-webkit-linear-gradient(top,#DEFF63,#93E14D);
background:-moz-linear-gradient(top,#DEFF63,#93E14D);
background:linear-gradient(to bottom,#DEFF63,#93E14D);
text-shadow:0 -1px 0 #fff,1px 0 0 #fff,0 1px 0 #fff,-1px 0 0 #fff,
1px -1px 0 #fff,1px 1px 0 #fff,-1px 1px 0 #fff,-1px 1px 0 #fff;
}
header .inner #login input[type="submit"]:hover{
background:#DEFF63;
background:-webkit-linear-gradient(top,#93E14D,#DEFF63);
background:-moz-linear-gradient(top,#93E14D,#DEFF63);
background:linear-gradient(to bottom,#93E14D,#DEFF63);
text-decoration:underline;
}

#state_in header .inner .logo{float:none;}


/* footer ==========*/
footer{background:#f00;min-width:1200px;min-height:226px;color:#fff;border-top:solid 10px #BE0101;}
footer .inner{margin:0 auto;padding:32px 30px 130px;width:1200px;}
footer .inner .logo{float:left;}
footer .inner .utility{float:left;margin-left:35px;}
footer .inner ul.sitemap > li{float:left;margin-left:8px;padding-left:12px;line-height:1.5rem;border-left:solid 1px #fff;}
footer .inner ul.sitemap > li:first-child{margin-left:0;padding-left:0;border-left:0;}
footer .inner ul.sitemap > li a{color:#fff;font-size:1.5rem;}
footer .inner ul.sitemap > li a:hover{text-decoration:underline;}
footer .inner .copyright{padding-top:10px;font-size:1.5rem;text-align:center;}
#state_in footer .inner{padding-bottom:100px;}
#state_in footer .inner .utility{float:none;margin:0;}
#state_in footer .inner ul.sitemap{float:left;margin:0 0 0 20px;}
#state_in footer .inner ul.sitemap > li{margin-top:5px;}
#state_in footer .inner ul.sitemap > li:nth-child(10){clear:left;margin-left:0;padding-left:0;border-left:0;}
#state_in footer .inner .copyright{clear:left;padding-top:25px;}


/* nav ==========*/
.btn_pagetop a{display:block;position:fixed;bottom:24px;right:80px;z-index:1000;}
.btn_pagetop a:after{position:absolute;content:'';width:100%;height:100%;top:0;left:0;}
.menu-btn{display:none;}


/*========== sideber ==========*/
#state_in aside{float:left;padding-bottom:125px;width:330px;}
#state_in aside .block{background:#F1E9E9;padding:0 10px 15px;border:solid 2px #000;border-top:none;overflow:hidden;}
#state_in aside .block:not(:first-of-type){margin-top:23px;}
#state_in aside .block .ttl{background:#000;margin:0 -10px 15px;padding:7px 15px;color:#fff;font-size:2.5rem;font-weight:bold;line-height:1;}

#state_in aside .block div.ttl p:first-of-type{float:left;font-weight:bold;}
#state_in aside .block div.ttl p.btn_update{float:right;}
#state_in aside .block div.ttl p.btn_update a{display:block;padding:3px 20px 3px 25px;color:#fff;font-size:1.6rem;font-weight:bold;border:solid 1px #fff;letter-spacing:5px;line-height:1;}
#state_in aside .block div.ttl p.btn_update a:hover{background:#fff; color:#000;border:solid 1px #fff;}
#state_in aside .block dl.list_member > dt{float:left;color:#0c2041;font-size:1.6rem;font-weight:bold;}
#state_in aside .block dl.list_member > dd{float:left;color:#0c2041;font-size:1.6rem;font-weight:bold;}
#state_in aside .block dl.list_member > dt:not(:first-of-type){margin-left:0.5em;}

#state_in aside .block ul.list_memberMenu > li:not(:first-child) a,
#state_in aside .block ul.list_expcttn > li:not(:first-child) a{margin-top:12px;}

#state_in aside .block dl.box_hit > dd.dvdnds{font-size:4.1rem;}

#state_in aside ul.list_bnr > li{background:#F1E9E9;margin-top:23px;padding:10px;border:solid 2px #000;overflow:hidden;}
#state_in aside ul.list_bnr > li a{display:block;}
#state_in aside .block .btn_red_02.size_M a{margin:0 auto;padding:59px 0;}


/*========== main contents ==========*/
.cont{background:#fff;margin:0 22px;padding:20px 20px 55px;}
#state_in .cont{margin:15px 0 0;padding-bottom:40px;border:solid 3px #000;}

#state_in .cont.message{padding:3px 10px;}
.cont.message p{color:#000;font-size:2.2rem;font-weight:bold;}

#state_in .cont.step{padding-top:0;}
.cont.step p{color:#000;font-size:2.1rem;}
.cont.step ol.list_step{margin:0 -20px 20px;}
ol.list_step{display:flex;justify-content:space-around;flex-wrap:wrap;background:#000;padding:40px 16px 40px;}
ol.list_step > li{flex:0 1 30%;}
ol.list_step > li > dl > dt{margin-bottom:22px;padding:1px 5px;color:#fff !important;font-size:2.9rem;border:solid 2px #fff;border-radius:15px;text-align:center;line-height:1;}
ol.list_step > li > dl > dd p{color:#fff !important;text-align:center;font-size:2.2rem !important;font-weight:bold;line-height:1.5;}

.cont.campaign *{color:#52300c;}


/* title ==========*/
.ttl_01{background:#000;padding:7px 35px;color:#fff !important;font-size:3.4rem;line-height:1;}
#state_in .ttl_01{background:#BE0101;margin:0 -20px;padding:15px 20px;font-weight:bold;border:solid 2px #000;}
.ttl_01 .subttl{margin-left:5px;font-size:2rem;vertical-align:middle;}

.ttl_02{position:relative;background:#000;margin:30px 22px 0;padding:15px 35px 15px 50px;color:#ff0 !important;font-size:2.7rem;line-height:1;}
.ttl_02::before{
position:absolute;
left:23px;
top:2rem;
content:"";
vertical-align:middle;
width:15px;
height:15px;
background:#ff0;
}

.ttl_03{background:#000;margin:30px -20px 20px;padding:8px 15px;color:#fff !important;font-size:3rem;font-weight:bold;line-height:1;}
.ttl_03.size_L{margin-right:-13px;margin-left:-13px;padding:35px 0;font-size:4.5rem;text-align:center;}
.ttl_03.size_M{width:50%;}
.ttl_03.size_S{width:30%;}
.cont > section:first-child > .ttl_03{margin-top:-20px;}
.cont > section:first-child > .ttl_03.size_L{margin-top:-13px;}

.ttl_04{margin:30px 0 10px;color:#be0101 !important;font-size:2rem;font-weight:bold;line-height:1.3;}
.cont > section:first-child > .ttl_04{margin-top:10px;}


/* list ==========*/
ul.list_num > li{list-style:outside decimal;margin-left:1.3em;}
ul.list_note > li{position:relative;padding-left:1.3em;}
ul.list_note > li .marker{position:absolute;left:0;}

dl.list_outline > dt{float:left;margin-right:0.5em;padding-right:0.5em;border-right:solid 1px #000;line-height:1.2;}
dl.list_outline > dd{line-height:1.2;}
dl.list_outline > dt:not(:first-child),
dl.list_outline > dt:not(:first-child) + dd{margin-top:1.6em;}

ul.list_hit > li:not(:first-child){margin-top:24px;}
.cont ul.list_hit{display:flex;flex-wrap:wrap;}
.cont ul.list_hit > li{flex:0 1 50%;}
.cont ul.list_hit > li:nth-child(odd) dl.box_hit{margin-right:18px;}
.cont ul.list_hit > li:nth-child(even) dl.box_hit{margin-left:18px;}
.cont ul.list_hit > li:nth-child(-n+2){margin-top:0;}

dl.box_hit{position:relative;background:#fff;padding:12px 10px 7px;border:solid 9px #22AC38;}
dl.box_hit > dt{margin-bottom:5px;color:#000 !important;font-size:3.6rem;font-weight:bold;line-height:1.5;}
dl.box_hit > dt .date{display:inline-block;padding-right:45px;font-size:2.1rem;}
dl.box_hit > dd.item{color:#000 !important;font-size:1.4rem;line-height:1.5;}
dl.box_hit > dd.dvdnds{margin:5px 0 10px;color:#d93225 !important;font-size:4.5rem;font-weight:bold;line-height:1;}
dl.box_hit > dd.badge{position:absolute;top:0;right:2px;
background:#E60012;padding-top:15px;color:#fffc00;font-size:2.6rem;font-weight:bold;width:70px;height:70px;text-align:center;border-radius:50%;}

ul.list_pager{margin:30px 0;text-align:center;}
.cont > ul.list_pager:first-child{margin-top:10px;}
.cont > ul.list_pager:last-child{margin-bottom:10px;}
ul.list_pager > li{display:inline-block;}
ul.list_pager > li:not(:first-child){margin-left:17px;}
ul.list_pager > li > a{display:block;background:#fff;padding:5px 8px;color:#be0101 !important;font-size:2.4rem;font-weight:bold;border:solid 3px #be0101;text-align:center;line-height:1;}
ul.list_pager > li > a:hover{background:#be0101;color:#fff !important;}
ul.list_pager > li > a.current{background:#be0101;color:#fff !important;}

dl.box_voice{padding:20px 15px;border:solid 10px #be0101;border-width:10px 12px;}
dl.box_voice > dt{color:#be0101 !important;font-size:2.2rem;font-weight:bold;}
dl.box_voice > dd{color:#000 !important;}

ul.lyt_list_01 > li:not(:first-child){margin-top:20px;}
ul.lyt_list_02 > li:not(:first-child){margin-top:15px;}
ul.lyt_list_03 > li:not(:first-child){margin-top:10px;}

dl.list_form > dt{color:#000;font-size:1.8rem;}
dl.list_form > dt:not(:first-of-type){margin-top:15px;}

dl.list_info > dt{position:relative;float:left;padding-right:1em;width:5em;color:#be0101 !important;font-size:2.5rem;font-weight:bold;}
dl.list_info > dt .colon{position:absolute;top:0;right:0;}
dl.list_info > dd{margin-left:5em;font-size:2.5rem;font-weight:bold;}

ul.list_check{margin-bottom:30px;border-top:solid 2px #000;}
ul.list_check > li{position:relative;border:solid 2px #000;border-top:0;line-height:1.3;}
ul.list_check > li input[type="checkbox"].btn{display:none;}
ul.list_check > li label{background:#000;padding-left:56px;display:table;width:100%;}
ul.list_check > li label span{background:#fff;display:table-cell;vertical-align:middle;padding:30px 15px;font-weight:bold;}
ul.list_check > li label span.text{width:70%;font-size:2rem;line-height:1.5;}
ul.list_check > li label span.price{width:30%;color:#f00 !important;font-size:2.8rem;text-align:right;}
ul.list_check > li label span:not(:first-of-type){border-left:solid 2px #000;}
ul.list_check label:after{
position:absolute;top:calc(42% + 2px);left:15px;
display:block;background:#ffd800;width:24px;height:24px;
content:'';opacity:0;
}
ul.list_check label:before{
position:absolute;top:42%;left:13px;
display:block;background:#fff;width:28px;height:28px;
content:'';
}
ul.list_check input[type="checkbox"]:checked + label:after{opacity:1;}

ul.list_radio{margin-bottom:30px;border-top:solid 2px #000;}
ul.list_radio > li{position:relative;font-size:2.2rem;border:solid 2px #000;border-top:0;line-height:1.3;}
ul.list_radio > li input[type="radio"].btn{display:none;}
ul.list_radio > li label{background:#000;padding-left:56px;display:table;width:100%;}
ul.list_radio > li label span{background:#fff;display:table-cell;vertical-align:middle;padding:20px 15px;color:#000 !important;font-weight:bold;}
ul.list_radio > li label span.text{width:70%;}
ul.list_radio > li label span.price{width:30%;color:#f00 !important;text-align:right;}
ul.list_radio > li label span:not(:first-of-type){border-left:solid 2px #000;}
ul.list_radio label:after{
position:absolute;top:calc(30% + 2px);left:15px;
display:block;background:#ffd800;width:24px;height:24px;border-radius:50%;
content:'';opacity:0;
}
ul.list_radio label:before{
position:absolute;top:30%;left:13px;
display:block;background:#fff;width:28px;height:28px;border-radius:50%;
content:'';
}
ul.list_radio input[type="radio"]:checked + label:after{opacity:1;}

dl.box_pay{position:relative;padding:5px 15px;color:#000 !important;font-weight:bold;border:solid 2px #000;line-height:1.5;}
dl.box_pay > dt{margin-right:235px;font-size:3rem;font-weight:bold;}
dl.box_pay > dd:not(.btn){margin-right:235px;font-size:1.8rem;}
dl.box_pay > dd.btn{position:absolute;top:20%;right:15px;}
dl.box_pay > dd.btn .btn_red_02 input{margin:0 auto;width:220px !important;}
dl.box_pay > dd.btn .btn_red_02 button{margin:0 auto;width:220px !important;}

dl.list_gift > dt{font-size:2.8rem;font-weight:bold;}
dl.list_gift > dt:not(:first-of-type){margin-top:40px;}
dl.list_gift > dd{font-size:2.1rem;}


/* table ==========*/
table.table_gry{width:100%;font-size:2.2rem;border-top:solid 2px #000;border-left:solid 2px #000;}
table.table_gry th,
table.table_gry td{padding:7px 10px;font-weight:bold;border-bottom:solid 2px #000;border-right:solid 2px #000;line-height:1.3;}
table.table_gry th{text-align:center;}

table.table_gry.mail_01 tr td{padding:45px 10px;text-align:center;}
table.table_gry.mail_01 tr td a{color:#6b6b6b !important;}
table.table_gry.mail_01 tr td a:hover{text-decoration:underline;}
table.table_gry.mail_01 tr td.subject{text-align:left;}

table.table_gry.mail_02 tr.date th,
table.table_gry.mail_02 tr.date td{padding:5px 10px;}
table.table_gry.mail_02 tr.subject td{padding:13px 10px;font-size:1.8rem;}
table.table_gry.mail_02 tr.message td{padding:20px 15px;font-size:2rem; }


/* button ==========*/
.btn_blk a{display:block;background:#11100F;color:#fff !important;font-size:2.5rem;font-weight:bold;}
.btn_blk a:hover{background:#45494d;text-decoration:underline;}
.btn_blk a span{display:block;}
.btn_blk a span.mailbox{background:url(images/icon_mailbox.png) no-repeat 20px center;padding:18px 20px 18px 70px;color:#fff !important;}

.btn_gry a{display:block;background:#828282;color:#fff !important;font-size:2.2rem;font-weight:bold;}
.btn_gry a:hover{background:#adadad;text-decoration:underline;}
.btn_gry a span{display:block;padding:7px 25px 7px 70px;color:#fff !important;}
.btn_gry a span.hit{background:url(images/icon_hit.png) no-repeat 30px center;}
.btn_gry a span.voice{background:url(images/icon_voice.png) no-repeat 27px center;}
.btn_gry a span.qa{background:url(images/icon_qa.png) no-repeat 30px center;}

.btn_gry a p{padding:38px 20px 38px 80px;color:#fff !important;font-size:2.5rem;font-weight:bold;line-height:1;}
.btn_gry a p.slctd-info{background:url(images/icon_slctd-info.png) no-repeat 20px center;}
.btn_gry a p.free-info{background:url(images/icon_free-info.png) no-repeat 20px center;}
.btn_gry a p span.en{position:relative;top:-0.2em;display:inline;padding:0 0 0 10px;font-size:1.6rem;}


.btn_red_01 > a,
.btn_red_01 > input[type="submit"]{display:block;margin:40px auto;padding:20px 0;color:#fff !important;font-size:3rem;font-weight:bold;text-align:center;border:solid 2px #878787;line-height:1;
background:#cd0000;
background:-webkit-linear-gradient(top,#ff1a00,#cd0000);
background:-moz-linear-gradient(top,#ff1a00,#cd0000);
background:linear-gradient(to bottom,#ff1a00,#cd0000);
}
.btn_red_01 > a{width:290px;}
.btn_red_01 > input[type="submit"]{min-width:290px;}
.btn_red_01 > a:hover,
.btn_red_01 > input[type="submit"]:hover{text-decoration:underline;
background:#ff1a00;
background:-webkit-linear-gradient(top,#cd0000,#ff1a00);
background:-moz-linear-gradient(top,#cd0000,#ff1a00);
background:linear-gradient(to bottom,#cd0000,#ff1a00);
}

.btn_red_02 a,
.btn_red_02 > input[type="submit"]{display:block;margin:25px auto;padding:22px 0;color:#fff !important;font-size:2.2rem;font-weight:bold;border-radius:13px;text-align:center;line-height:1;
background:#fc0404;
background:-webkit-linear-gradient(top,#fc0404,#e21000 93%,#e21000);
background:-moz-linear-gradient(top,#fc0404,#e21000 93%,#e21000);
background:linear-gradient(to bottom,#fc0404,#e21000 93%,#e21000);
}
.btn_red_02 a,
.btn_red_02 > button[type="submit"]{display:block;margin:25px auto;padding:22px 0;color:#fff !important;font-size:2.2rem;font-weight:bold;border-radius:13px;text-align:center;line-height:1;
background:#fc0404;
background:-webkit-linear-gradient(top,#fc0404,#e21000 93%,#e21000);
background:-moz-linear-gradient(top,#fc0404,#e21000 93%,#e21000);
background:linear-gradient(to bottom,#fc0404,#e21000 93%,#e21000);
}
.btn_red_02 a:hover,
.btn_red_02 > input[type="submit"]:hover{text-decoration:underline;
background:#e21000;
background:-webkit-linear-gradient(top,#e21000,#fc0404 93%,#fc0404);
background:-moz-linear-gradient(top,#e21000,#fc0404 93%,#fc0404);
background:linear-gradient(to bottom,#e21000,#fc0404 93%,#fc0404);
}
.btn_red_02 a:hover,
.btn_red_02 > button[type="submit"]:hover{text-decoration:underline;
background:#e21000;
background:-webkit-linear-gradient(top,#e21000,#fc0404 93%,#fc0404);
background:-moz-linear-gradient(top,#e21000,#fc0404 93%,#fc0404);
background:linear-gradient(to bottom,#e21000,#fc0404 93%,#fc0404);
}
.btn_red_02.size_L a,
.btn_red_02.size_L > input[type="submit"]{margin:45px auto;padding:42px 0;width:600px !important;font-size:4rem;}
.btn_red_02.size_M a,
.btn_red_02.size_M > input[type="submit"]{width:300px !important;font-size:3.4rem;}
.btn_red_02.size_S a,
.btn_red_02.size_S > input[type="submit"]{width:300px !important;}
.btn_red_02.size_SS a,
.btn_red_02.size_SS > input[type="submit"]{padding:15px 0;width:220px !important;}

.btn_red_02.size_L a,
.btn_red_02.size_L > button[type="submit"]{margin:45px auto;padding:42px 0;width:600px !important;font-size:4rem;}
.btn_red_02.size_M a,
.btn_red_02.size_M > button[type="submit"]{width:300px !important;font-size:3.4rem;}
.btn_red_02.size_S a,
.btn_red_02.size_S > button[type="submit"]{width:300px !important;}
.btn_red_02.size_SS a,
.btn_red_02.size_SS > button[type="submit"]{padding:15px 0;width:220px !important;}

.btn_red_02.icon a{padding:0;}
.btn_red_02.icon a span{display:block;}
.btn_red_02.icon a span.buy{display:block;background:url(images/icon_buy.png) no-repeat 100px center;padding:42px 0 42px 190px;color:#fff !important;text-align:left;}


/* form ==========*/
label.box_select{position:relative;}
label.box_select select{position:relative;padding:7px 1.5em 7px 7px;}
label.box_select:after{
display:block;
content:" ";
position:absolute;
top:45%;
right:0.5em;
width:0;
height:0;
border-style:solid;
border-width:0.5em 0.3em 0 0.3em;
border-color:#000 transparent transparent transparent;
}
#state_in main input,#state_in main select,#state_in main textarea{width:100%;}
#state_in main input.size_L,#state_in main select.size_L,#state_in main textarea.size_L{width:23em;}
#state_in main input.size_M,#state_in main select.size_M,#state_in main textarea.size_M{width:14.5em;}


/* text ==========*/
.txt_atsign{color:#be0101 !important;font-size:3rem;font-weight:bold;}
.txt_info{font-size:2.5rem;font-weight:bold;}


/*========== other ==========*/
em{color:#ff0000;}
strong{color:#ff0000;font-weight:bold;}

.mt_0{margin-top:0 !important;}
.mb_0{margin-bottom:0 !important;}
.mlr_0{margin-left:0 !important;margin-right:0 !important;}
.mb_5{margin-bottom:0.5rem !important;}
.mb_10{margin-bottom:1rem !important;}
.mb_15{margin-bottom:1.5rem !important;}
.mb_S{margin-bottom:0.5em !important;}
.mb_M{margin-bottom:1em !important;}
.mb_L{margin-bottom:2em !important;}

.pt_0{padding-top:0 !important;}
.pb_0{padding-bottom:0 !important;}
.pb_5{padding-bottom:0.5rem !important;}
.pb_10{padding-bottom:1rem !important;}
.pb_15{padding-bottom:1.5rem !important;}
.pb_S{padding-bottom:0.5em !important;}
.pb_M{padding-bottom:1em !important;}
.pb_L{padding-bottom:2em !important;}

.lyt_L{text-align:left !important;}
.lyt_R{text-align:right !important;}
.lyt_C{text-align:center !important;}
#state_in main > .lyt_fullWdt{margin:0 -20px;}

.f_b_blk{color:#000 !important;font-weight:bold !important;}
.f_gry{color:#6b6b6b !important;}
.f_red{color:#f00 !important;}
.f_grn{color:#5b730b !important;}

.f_bold{font-weight:bold !important;}
.f_10{font-size:1rem !important;}
.f_11{font-size:1.1rem !important;}
.f_12{font-size:1.2rem !important;}
.f_13{font-size:1.3rem !important;}
.f_14{font-size:1.4rem !important;}
.f_15{font-size:1.5rem !important;}
.f_16{font-size:1.6rem !important;}
.f_17{font-size:1.7rem !important;}
.f_18{font-size:1.8rem !important;}
.f_19{font-size:1.9rem !important;}
.f_20{font-size:2rem !important;}
.f_21{font-size:2.1rem !important;}
.f_22{font-size:2.2rem !important;}
.f_23{font-size:2.3rem !important;}
.f_24{font-size:2.4rem !important;}
.f_25{font-size:2.5rem !important;}
.f_26{font-size:2.6rem !important;}
.f_27{font-size:2.7rem !important;}
.f_28{font-size:2.8rem !important;}
.f_29{font-size:2.9rem !important;}
.f_30{font-size:3rem !important;}
.f_120{font-size:12rem !important;line-height:1;}

.forMbl{display:none;}


/*========== index ==========*/
/* #state_out ==========*/
#state_out.index main{background:#fff;padding:0 0 50px;}

.block_main .image, .block_main .text{display:table-cell;vertical-align:top;}
.block_main .text{position:relative;background:#00A0E9;width:308px;color:#fff;}
.block_main .text p{font-weight:bold;}
.block_main .text .name{position:absolute;left:0;margin-left:108px;margin-top:0.9em;color:#ffe400;height:600px;font-size:10rem;-webkit-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;line-height:1;}
.block_main .text .grade{position:absolute;top:0;background:#056AA4;padding:10px 0;width:100%;font-size:6.4rem;text-align:center;line-height:1;}
.block_main .text .place{position:absolute;left:0;margin-top:1.3em;height:600px;font-size:7.6rem;-webkit-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;}
.block_main .text .date{position:absolute;bottom:0;padding:5px 0;width:100%;font-size:4rem;text-align:center;line-height:1.2;}
@media all and (-ms-high-contrast:none){ /* for IE */
.block_main .text .name, .block_main .text .place{left:auto;}
}

.block_catch{background:url(/images/index_bg_paper.jpg) repeat 0 0;padding-bottom:20px;border:solid 1px #BFBEB0;}
.block_catch .img_catch{margin:23px 0 21px;text-align:center;}
.block_catch .block_regist:nth-of-type(2){padding-top:13px;padding-bottom:13px;}

.block_regist{background:#E30000;margin:0 97px;padding:23px 30px;color:#fff;border:solid 3px #000;
box-shadow:inset 2px 2px 0 #fff,inset -2px -2px 0 #fff;
-moz-box-shadow:inset 2px 2px 0 #fff,inset -2px -2px 0 #fff;
-webkit-box-shadow:inset 2px 2px 0 #fff,inset -2px -2px 0 #fff;
}
.block_regist .form_mail{float:left;width:640px;min-width:25em;overflow:hidden;}
.block_regist .form_mail > input[type="email"]{padding:14px 10px;width:100%;}
.block_regist .btn_grn_01{float:right;}
.block_regist .btn_grn_01 > input[type="submit"]{padding:20px 10px 18px;min-width:282px;color:#000;font-size:2.9rem;font-weight:bold;text-align:center;border:solid 1px #467f00;
background:#7be31d;
background:-webkit-linear-gradient(top,#c9ff30,#7be31d);
background:-moz-linear-gradient(top,#c9ff30,#7be31d);
background:linear-gradient(to bottom,#c9ff30,#7be31d);
text-shadow:0 -2px 0 #fff,2px 0 0 #fff,0 2px 0 #fff,-2px 0 0 #fff;
box-shadow:0 0 10px #9ff026;
-moz-box-shadow:0 0 10px #9ff026;
-webkit-box-shadow:0 0 10px #9ff026;
}
.block_regist .btn_grn_01 > input[type="submit"]:hover{
background:#c9ff30;
background:-webkit-linear-gradient(top,#7be31d,#c9ff30);
background:-moz-linear-gradient(top,#7be31d,#c9ff30);
background:linear-gradient(to bottom,#7be31d,#c9ff30);
}

.block_regist ul.list_note{clear:both;padding-top:10px;font-size:1.3rem;}
.block_regist .label, .cont_regist .label{margin-bottom:17px;text-align:center;}
.block_regist .label label, .cont_regist .label label{color:#ff0;font-size:3.9rem;font-weight:bold;}

ol.list_regist{display:flex;justify-content:space-between;flex-wrap:wrap;margin:37px 97px 0;}
.block_catch ol.list_regist{margin-top:14px;}
ol.list_regist > li{position:relative;flex:0 1 30%;background:#000;padding-bottom:5px;}
ol.list_regist > li:not(:first-child){margin-left:5%;}
ol.list_regist > li:not(:first-child):before{
content:url(/images/index_arrow.png);
position:absolute;
top:1.2em;
left:-12%;
}
ol.list_regist > li > dl > dt{background:#fff;margin:20px auto;padding:3px 5px;width:190px;font-size:2.9rem;font-weight:bold;text-align:center;line-height:1;}
ol.list_regist > li > dl > dd{color:#ff0 !important;text-align:center;font-size:2.5rem !important;font-weight:bold;line-height:1;}
ol.list_regist > li:nth-child(2) > dl > dd{font-size:2.3rem !important;}

.block_mail{margin-top:16px;text-align:center;}

ul.list_features{margin-top:100px;}
ul.list_features > li{margin-top:80px;text-align:center;}

.ttl_hit{margin-top:140px;text-align:center;}
#state_out.index ul.list_hit{display:flex;flex-wrap:wrap;margin:0 97px;}
#state_out.index ul.list_hit > li{flex:0 1 50%;margin-top:40px;}
#state_out.index ul.list_hit > li dl.box_hit{padding:20px 20px 7px;border-width:14px;}
#state_out.index ul.list_hit > li:nth-child(odd) dl.box_hit{margin-right:25px;}
#state_out.index ul.list_hit > li:nth-child(even) dl.box_hit{margin-left:25px;}

#state_out.index dl.box_hit > dt{font-size:5.3rem;line-height:1;}
#state_out.index dl.box_hit > dt .date{margin-bottom:30px;font-size:3.6rem;}
#state_out.index dl.box_hit > dd.item{font-size:2rem;}
#state_out.index dl.box_hit > dd.dvdnds{font-size:6.3rem;}
#state_out.index dl.box_hit > dd.badge{right:0;padding-top:17px;width:90px;height:90px;font-size:3.5rem;}

.ttl_05{background:#CD0101;margin-bottom:17px;padding:15px 0;color:#FDFF4A;font-size:8rem;font-weight:bold;text-align:center;border:solid 4px #fff;line-height:1;letter-spacing:-3px;}
.block_voice{background:#fff;margin:0 75px;padding:18px 30px 50px;border:solid 5px #000;}
.block_voice .ttl{margin-bottom:25px;padding:15px 0 10px;color:#fff;font-size:4.8rem;font-weight:bold;text-align:center;line-height:1;}
.block_voice .text{font-size:2.2rem;}
section > section:not(:nth-of-type(4)) .block_voice{border-bottom:none;}
section > section:nth-of-type(1) .block_voice .ttl{background:#E4007F;}
section > section:nth-of-type(2) .block_voice .ttl{background:#05B8A9;}
section > section:nth-of-type(3) .block_voice .ttl{background:#2F8AF1;}
section > section:nth-of-type(4) .block_voice .ttl{background:#BF25FF;}

.cont_voice{background:#FF5A00;margin-top:63px;padding:20px 32px 53px;}
.cont_regist{background:#f00;padding:25px 0 40px;}

/* #state_in ==========*/
#state_in.index main{background:none;padding-left:0;padding-right:0;}
#state_in.index main .ttl_01{margin:0;}

ul.list_race{display:flex;justify-content:space-between;flex-wrap:wrap;margin-bottom:40px;}
ul.list_race > li{flex:0 1 32%;}
ul.list_race > li dl{position:relative;padding-bottom:91px;}
ul.list_race > li dl dt{position:absolute;bottom:0;background:#00A0E9;padding:20px 0;width:100%;min-height:91px;color:#fffc00;font-size:3rem;font-weight:bold;text-align:center;}
ul.list_race > li a:hover dl dt{background:#fffc00;color:#00A0E9;}

ul.list_hit_02{background:#FF00DE;margin-bottom:30px;padding:15px 19px;border:solid 5px #000;}
ul.list_hit_02 > li{display:table;padding:5px 10px;width:100%;border-left:solid 3px #fff;border-right:solid 3px #fff;}
ul.list_hit_02 > li:first-child{padding-top:18px;border-top:solid 3px #fff;}
ul.list_hit_02 > li:last-child{padding-bottom:18px;border-bottom:solid 3px #fff;}
ul.list_hit_02 > li p{display:table-cell;color:#fff;font-size:3rem;font-weight:bold;}
ul.list_hit_02 > li p:first-of-type{width:3.5em;color:#fffc00;}

dl.box_spot{position:relative;}
dl.box_spot > dt{background:#000;text-align:center;}
dl.box_spot > dd{position:absolute;bottom:0;width:100%;background:rgba(182, 86, 230, 0.6);padding:8px 3px 5px;color:#fff !important;font-size:3.1rem;font-weight:bold;text-align:right;line-height:1;}
dl.box_spot > dd span{color:#fcff01;}


/*==================================================================
   For Mobile
==================================================================*/
@media screen and (max-width:1000px) {
/*========== default ==========*/
body{background:#f00;}
main{background:#fff;padding:0 0 25px;width:100%;min-height:auto;}
#state_out{font-size:1.4rem;} /* 14px */
#state_in{font-size:1.4rem;} /* 14px */

#state_in #container{position:relative;background:none;margin-bottom:0;padding:43px 0 0;width:auto;border:none;}
#state_in main{float:none;background:#fff;padding:0 10px 25px;width:auto;}


/*========== form ==========*/
input[type="text"],input[type="search"],input[type="tel"],input[type="url"],input[type="email"],input[type="password"],
input[type="number"],input[type="range"],input[type="color"],
input[type="datetime"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime-local"],
select,textarea{padding:5px;font-size:1.6rem;}


/*========== common ==========*/
/* header ==========*/
header{min-width:100%;}
header .inner{padding:0;width:100%;}
header .inner .logo{padding:2px 20px 1px;width:80%;}

#state_out header{border-bottom:0;overflow:hidden;}
#state_out header .inner .logo{float:none;}
#state_out header .inner #login{float:none;background:#BE0101;margin-top:0;padding:6px 17px 20px;border-top:solid 5px #BE0101;}
#state_out header .inner #login ul{width:75%;}
#state_out header .inner #login ul > li{margin-left:0;padding-right:5%;width:50%;}
#state_out header .inner #login .btn{margin-left:0;width:25%;}
#state_out header .inner #login input{border-width:1px;border-radius:2px;}
#state_out header .inner #login input:not([type="submit"]){width:100%;min-width:auto;font-size:1.6rem;}
#state_out header .inner #login input[type="submit"]{width:100%;min-width:auto;font-size:1.6rem;}

#state_in header{border-bottom:solid 5px #BE0101;}


/* footer ==========*/
footer{min-width:100%;min-height:115px;}
footer .inner{padding:10px 20px;width:100%;}
footer .inner .logo{float:none;width:80%;}
footer .inner ul.sitemap{display:none;}
footer .inner .utility{float:none;margin:0;}
footer .inner .copyright{font-size:0.9rem;}

#state_in footer .inner{padding-bottom:0;}
#state_in footer .inner .copyright{padding-top:10px;}

/* nav ==========*/
.menu-btn{display:block;position:fixed;bottom:10px;right:2px;width:72px;z-index:1000;}


/*========== sideber ==========*/
#state_in aside{float:none;padding-bottom:0;width:auto;}
.btn_pagetop,
#state_in aside .block:not(:first-of-type),
#state_in aside .block:first-of-type .ttl,
#state_in aside ul.list_bnr{display:none;}
#state_in aside .block:first-of-type{padding:0;border:none;}
#state_in aside .block dl.list_member{position:absolute;top:0;left:0;
background:#fff;padding:5px 30px;width:100%;}
#state_in aside .block dl.list_member > dt,
#state_in aside .block dl.list_member > dd{color:#646464;font-size:1.4rem;}
#state_in aside .block dl.list_member > dt:not(:first-of-type){margin-left:1em;}


/*========== main contents ==========*/
.cont{margin:0 10px;padding:10px 10px 45px;border:solid 2px #000;}
#state_in .cont{margin-top:10px;}

.cont.message p{font-size:1.4rem;}

.cont.step p{font-size:1.4rem;}
.cont.step ol.list_step{margin:0 -10px 10px;}
ol.list_step{padding:10px 5px;}
ol.list_step > li > dl > dt{margin-bottom:10px;font-size:1.9rem;}
ol.list_step > li > dl > dd p{font-size:1.2rem !important;}


/* title ==========*/
.ttl_01{padding:4px 10px;font-size:1.9rem;}
#state_in .ttl_01{margin:0 -10px;padding:7px 30px;}
.ttl_01 .subttl{font-size:1.9rem;vertical-align:baseline;}

.ttl_02{margin:10px 10px 0;padding:9px 7px 9px 30px;font-size:1.5rem;}
.ttl_02::before{
left:12px;
top:1.2rem;
width:9px;
height:9px;
}

.ttl_03{margin:30px -10px 10px;padding:8px 10px;font-size:1.6rem;}
.ttl_03.size_L{margin-right:-5px;margin-left:-5px;padding:20px 0;font-size:2.6rem;}
.cont > section:first-child > .ttl_03{margin-top:-10px;}
.cont > section:first-child > .ttl_03.size_L{margin-top:-5px;}
.ttl_03.size_M{width:60%;}
.ttl_03.size_S{width:35%;}

.ttl_04{font-size:1.5rem;}


/* list ==========*/
ul.list_pager{margin:20px -10px;}
ul.list_pager > li > a{padding:5px 6px;font-size:1.4rem;border-width:2px;}
ul.list_pager > li:not(:first-child){margin-left:7px;}

dl.box_voice{padding:10px;border-width:10px;}
dl.box_voice > dt{font-size:1.6rem;}

.cont ul.list_hit{display:block;}
.cont ul.list_hit > li{margin-top:20px !important;}
.cont ul.list_hit > li:nth-child(odd) dl.box_hit{margin-right:0;}
.cont ul.list_hit > li:nth-child(even) dl.box_hit{margin-left:0;}
dl.box_hit > dt{padding-right:45px;font-size:2.4rem;}
dl.box_hit > dd.item{line-height:1.3;}
dl.box_hit > dd.dvdnds{margin:5px 0;}

dl.list_form > dt{font-size:1.4rem;}
dl.list_form > dt:not(:first-of-type){margin-top:10px;}

dl.list_info > dt,
dl.list_info > dd{font-size:1.4rem;}

ul.list_check{margin-bottom:20px;}
ul.list_check > li label{padding-left:32px;}
ul.list_check > li label span{padding:7px 5px;}
ul.list_check > li label span.text{width:63%;font-size:1.4rem;}
ul.list_check > li label span.price{width:37%;font-size:1.6rem;}
ul.list_check label:after{top:calc(40% + 2px);left:7px;width:16px;height:16px;}
ul.list_check label:before{top:40%;left:5px;width:20px;height:20px;}

ul.list_radio{margin-bottom:20px;}
ul.list_radio > li{font-size:1.4rem;}
ul.list_radio > li label{padding-left:32px;}
ul.list_radio > li label span{padding:10px 5px;}
ul.list_radio > li label span.text{width:63%;}
ul.list_radio > li label span.price{width:37%;}
ul.list_radio label:after{top:calc(25% + 2px);left:7px;width:16px;height:16px;}
ul.list_radio label:before{top:25%;left:5px;width:20px;height:20px;}

dl.box_pay{padding:5px 10px;}
dl.box_pay > dt{margin-right:0;font-size:2rem;}
dl.box_pay > dd:not(.btn){margin-right:0;font-size:1.4rem;}
dl.box_pay > dd.btn{position:initial;top:auto;right:auto;}
dl.box_pay > dd.btn .btn_red_02 input{margin:5px auto;padding:15px 0;}
dl.box_pay > dd.btn .btn_red_02 button{margin:5px auto;padding:15px 0;}

dl.list_gift > dt{font-size:1.8rem;}
dl.list_gift > dt:not(:first-of-type){margin-top:10px;}
dl.list_gift > dd{font-size:1.4rem;}


/* table ==========*/
table.table_gry{font-size:1.4rem;}
table.table_gry th,
table.table_gry td{padding:7px 5px;}

table.table_gry.mail_01 tr td{padding:7px 5px;}

table.table_gry.mail_02 tr.date th,
table.table_gry.mail_02 tr.date td{padding:7px 5px;}
table.table_gry.mail_02 tr.subject td{padding:7px 5px;font-size:1.4rem;}
table.table_gry.mail_02 tr.message td{padding:7px 5px;font-size:1.6rem; }


/* button ==========*/
.btn_red_01 > a,
.btn_red_01 > input[type="submit"]{margin:1em auto;padding:18px 0;font-size:2.6rem;}
.btn_red_01 > a{width:100%;}
.btn_red_01 > input[type="submit"]{width:100%;min-width:auto;}

.btn_red_02 a, .btn_red_02 > input[type="submit"]{margin:1em auto;}
.btn_red_02.size_L a, .btn_red_02.size_L > input[type="submit"]{margin:1em auto;width:100% !important;font-size:3rem;}
.btn_red_02.size_M a, .btn_red_02.size_M > input[type="submit"]{font-size:2.6rem;}

.btn_red_02 a, .btn_red_02 > button[type="submit"]{margin:1em auto;}
.btn_red_02.size_L a, .btn_red_02.size_L > button[type="submit"]{margin:1em auto;width:100% !important;font-size:3rem;}
.btn_red_02.size_M a, .btn_red_02.size_M > button[type="submit"]{font-size:2.6rem;}

.btn_red_02.icon a span.buy{
background-size:1.5em;
background-position:30px center;
padding:42px 0 42px 80px;
}


/* form ==========*/
label.box_select select{padding:5px 1.5em 5px 5px;}

#state_in main input.size_L, #state_in main select.size_L, #state_in main textarea.size_L{width:100%;}
#state_in main input.size_M, #state_in main select.size_M, #state_in main textarea.size_M{width:55%;}

/* text ==========*/
.txt_atsign{font-size:1.8rem;}
.txt_info{font-size:1.6rem;}


/*========== other ==========*/
#state_in main > .lyt_fullWdt{margin:0 -10px;}
#state_in main > .lyt_fullWdt img{width:100%;}

.f_10{font-size:1rem !important;}
.f_11{font-size:1.1rem !important;}
.f_12{font-size:1.2rem !important;}
.f_13{font-size:1.3rem !important;}
.f_14{font-size:1.4rem !important;}
.f_15{font-size:1.5rem !important;}
.f_16{font-size:1.6rem !important;}
.f_17{font-size:1.7rem !important;}
.f_18,
.f_19,
.f_20,
.f_21,
.f_22,
.f_23,
.f_24,
.f_25,
.f_26,
.f_27,
.f_28,
.f_29{font-size:1.8rem !important;}
.f_30{font-size:3rem !important;}
.f_120{font-size:5rem !important;line-height:1;}


/*========== index ==========*/
/* #state_out ==========*/
#state_out.index header .inner #login{position:relative;background:#D3C700;padding-bottom:10px;z-index:1;}
.block_main .image{display:block;background:url(/images/index_bg_main.png) repeat-x 0 0;background-size:auto 100%;padding:0 10px;}
.block_main .image img{width:100%;}
.block_main .text{display:block;margin:0 10px;padding:10px 5px;width:auto;}
.block_main .text .name{position:static;display:inline;margin:0;height:auto;font-size:4.5rem;-webkit-writing-mode:horizontal-tb;-ms-writing-mode:horizontal-tb;writing-mode:horizontal-tb;}
.block_main .text .grade{position:static;display:inline;background:none;padding:0;color:#ffe400;font-size:4.5rem;}
.block_main .text .place{position:static;margin:0;padding-top:5px;height:auto;font-size:4.3rem;line-height:1;-webkit-writing-mode:horizontal-tb;-ms-writing-mode:horizontal-tb;writing-mode:horizontal-tb;}
.block_main .text .date{position:static;padding:5px 0 0;font-size:2.7rem;text-align:left;}

.block_catch{background:none;padding-bottom:0;border:none;}

.block_regist{margin:0 10px;padding:20px 10px;}
.block_regist:nth-of-type(2){display:none;}
.block_regist .form_mail{float:none;width:100%;min-width:auto;}
.block_regist .form_mail > input[type="email"]{padding:22px 7px;font-size:1.3rem;}
.block_regist .btn_grn_01{float:none;margin:10px auto 0;width:100%;}
.block_regist .btn_grn_01 > input[type="submit"]{padding:12px 10px 10px;width:100%;}

.block_regist ul.list_note{font-size:1.2rem;}

ul.list_features{margin-top:20px;}
ul.list_features > li{margin:10px 10px 0;}
ul.list_features > li img{width:100%;}

ol.list_regist,
.block_mail,
.img_catch{display:none;}

.ttl_hit{margin:20px auto 0;}
.ttl_hit img{width:70%;}

#state_out.index ul.list_hit{display:block;margin:0 10px;}
#state_out.index ul.list_hit > li{margin-top:20px;}
#state_out.index ul.list_hit > li:first-child{margin-top:10px;}
#state_out.index ul.list_hit > li dl.box_hit{margin:0 !important;padding:12px 10px 7px;border-width:9px;}

#state_out.index dl.box_hit > dt{font-size:3rem;line-height:1.5;}
#state_out.index dl.box_hit > dt .date{margin-bottom:0;font-size:2.1rem;}
#state_out.index dl.box_hit > dd.item{font-size:1.4rem;}
#state_out.index dl.box_hit > dd.dvdnds{font-size:4.8rem;}
#state_out.index dl.box_hit > dd.badge{right:2px;padding-top:15px;width:70px;height:70px;font-size:2.6rem;}

.ttl_05{margin-bottom:10px;padding:5px 0;font-size:7.34vw;}

.block_voice{margin:0;padding:5px 10px 10px;}
.block_voice .ttl{margin:0 auto 5px;padding:10px 0;width:90%;font-size:5vw;}
.block_voice .text{font-size:1.6rem;}

.cont_voice{margin-top:20px;padding:10px 10px 20px;}
.cont_regist{background:none;padding:20px 0 0;}
.cont_regist .label{display:none;}

/* #state_in ==========*/
#state_in.index #container{padding-top:33px;}
#state_in.index main{background:#fff;}
#state_in.index ul.lyt_list_01{margin:20px 10px 0;}

ul.list_race{margin-bottom:10px;}
ul.list_race > li dl{padding-bottom:0;}
ul.list_race > li dl dt{padding:13px 0;min-height:auto;font-size:3.906vw;}
ul.list_race > li dl dd{height:50vw;overflow:hidden;}
ul.list_race > li dl dd img{width:100%;}

ul.list_hit_02{margin-bottom:10px;padding:5px;}
ul.list_hit_02 > li:first-child{padding-top:10px;}
ul.list_hit_02 > li:last-child{padding-bottom:10px;}
ul.list_hit_02 > li p{font-size:3.437vw;}
ul.list_hit_02 > li p:first-of-type{width:4.5em;}

dl.box_spot > dd{font-size:3.8vw;}

.forPC{display:none;}
.forMbl{display:inline;}
}
/* End For Mobile */


/*==================================================================
   ClearFix
==================================================================*/
header .inner:after,
header .inner #login:after,
footer .inner:after,
footer .inner ul.sitemap:after,
#state_in #container:after,
#state_in aside .block div.ttl:after,
#state_in aside .block dl.list_member:after{
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
overflow:hidden;
}
